[Unit]
Description=Places app, ACIT4640
After=network.target

[Service]
WorkingDirectory={{ app_directory }}/src
Type=simple
User={{ app_user }}
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target